body {
    background: url(../asset/svg/aktuell.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

/* #music-menu{
    display: none;
} */
.menu {
    top: 30%;
    right: 1%;
    border-right: 2px solid #FFFFFF;
    border-left: none;
}

/* .topnav .icon{
    font-size:15px;
    color: #FDDB3A; 
    float:right;
} */
.sidebar {
    position: absolute;
    /* left: 84%; */
    right: 0%;
}
/* .topnav #close{
    display: none;
    float: right;
    color: #FDDB3A; 

} */
.description {
    background-color: #595B83;
    color: #FDDB3A;
    padding: 5px 30px;
    text-align: left;
}

.date,
.title p {
    position: absolute;
    top: 30%;
    left: 15%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 12px;
    color: #595B83;
    text-align: center;
}

.pointer {
    width: 97.86px;
    height: 34.35px;
    position: relative;
    border-radius: 5px;
    padding: 5px;
    background: #FDDB3A;
}

.pointer:nth-child(3):after {
    content: "";
    position: absolute;
    left: -14px;
    bottom: 0;
    width: 0;
    height: 0;
    transform: rotate(-180deg);
    border-left: 17px solid #FDDB3A;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
}

.pointer:nth-child(1)::before {
    content: "";
    position: absolute;
    right: -14px;
    bottom: 0px;
    width: 0;
    height: 0;
    border-left: 17px solid #FDDB3A;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
}

.main-information {
    padding: 30px 20px;
    align-self: center;
    overflow: scroll;
    direction: rtl;
    overflow-x: hidden;
    height: 400px;
}

.main-information::-webkit-scrollbar {
    background-color: #464646;
    width: 10px;
    /* direction: rtl; */
    direction: ltr;
    border-radius: 10px;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}

.main-information::-webkit-scrollbar-track {
    width: 10px;
    height: 35px;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}


/* Handle */

.main-information::-webkit-scrollbar-thumb {
    background: #FDDB3A;
    border-radius: 5px;
}


/* Handle on hover */

.main-information::-webkit-scrollbar-thumb:hover {
    background: #FDDB3A;
}

.main-information .info {
    display: flex;
    margin-top: 37px;
    direction: ltr;
}

.item2 {
    grid-column: 1 / span 3;
    grid-row: 1;
}

.item1 {
    grid-column: 3;
    grid-row: 2 / span 4;
}

.item3 {
    grid-column: 1 / span 2;
    grid-row: 2 / span 4;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 20px;
    margin: 30px;
}

.item4 {
    position: fixed;
    grid-column: 3;
    grid-row: 5;
    right: 0%;
    bottom: 0%;
}

.component-links {
    padding: 20px 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: #FFFFFF;
}

.component-links .location,
.call {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #FFFFFF;
}

.component-links .call {
    transform: rotate(-45deg);
}

.component-links .account {
    display: none;
}

.component-links i {
    width: 25px;
    height: 25px;
    padding: 3px;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
}

.component-links i {
    margin: 5px;
}

@media only screen and (min-width:768px) {
    .item1 {
        display: block;
    }
    .item2 {
        display: none;
    }
}

@media only screen and (max-width:767px) {
    .item1 {
        display: none;
    }
    .component-links .call {
        display: none;
    }
    .component-links .email {
        display: none;
    }
    .component-links .instagram {
        display: none;
    }
    .component-links .location {
        display: none;
    }
    .component-links .account {
        display: block;
    }
    .item4 .account {
        display: block;
    }
    .grid-container {
        padding: 0%;
        /* padding-left: 10px; */
    }
    .item2 {
        padding: 0%;
        overflow: hidden;
        display: block;
        grid-column: 1;
    }
    .item3 {
        flex-direction: row;
        grid-row: 2;
        grid-column: 1;
        justify-content: center;
        align-self: center;
        margin: 0px;
        padding-left: 10px;

    }
    .description {
        font-size: 10px;
        line-height: 12px;
        font-family: 'Roboto';
    }
    .date,
    .title p {
        font-size: 12px;
        font-family: 'Roboto';
    }
}

@media (max-width:600) and (min-width:320px) {
    .item1 {
        display: none;
    }
    .component-links .call {
        display: none;
    }
    .component-links .email {
        display: none;
    }
    .component-links .instagram {
        display: none;
    }
    .component-links .location {
        display: none;
    }
    .component-links .account {
        display: block;
    }
    .item4 .account {
        display: block;
    }
    .item2 {
        display: block;
    }
    .item3 {
        /* flex-direction: row;
        grid-row: 2;
        grid-column: 1;
        justify-content: center;
        align-self: center;
        margin: 0 10px;
        padding: 0%; */

    flex-direction: column;
    justify-content: flex-end;
}
    }
    .description {
        font-size: 10px;
        line-height: 12px;
    }
    .date,
    .title p {
        font-size: 8px;
    }
    body {
        overflow-x: hidden
    }

}