
:root{
    --actingMenuColor:#FF9B04;
    --bodyBg: #52575D;
    --musicMenuColor:#FDDB3A;
    --topnavLinkColor:#f2f2f2;
    --contentMenuBg:#ff9b045b;

}body {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #A6A49E;
    position: relative;
}
#logo a{
    padding: 0%;
    /* border-radius: 0 0 25px 0 !important; */
}
.dropdown-content a:hover {
    color: #FDDB3A;
}
.item2 {
    grid-column: 1 / span 4;
    grid-row: 1;
}

.item1 {
    grid-column: 4;
    grid-row: 2 / span 4;
}

.item3 .slider {
    display: none;
}
.column img{
    width: 100%;
}
.item3 {
    grid-column: 1 / span 3;
    grid-row: 2 / span 4;
    flex-direction: row;
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    direction: rtl;
    margin: 30px;
    overflow: scroll;
    overflow-x: hidden;
    direction: rtl;
    scroll-behavior: smooth;
}
.thumb {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0%;
    overflow-x: scroll;
}
.thumb li{
    width: 20%;
    padding: 3px;
    background-color: white;
    margin: 1%;
    box-shadow: 1px 1px 10px 5px gray;
}
.thumb img{
    width: 100%;
    vertical-align: middle;
}
.item3 .row {
    display: flex;
    flex-wrap: wrap;
    /* margin-right: 125px; */
    padding: 0 5px;
}

.item4 {
    position: fixed;
    grid-column: 3;
    grid-row: 5;
    right: 0%;
    bottom: 0%;
}

.component-links {
    padding: 20px 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: #FFFFFF;
}
/* .component-links a{
    padding: 4%;

}  */

.component-links .location,
.call {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #FFFFFF;
}

.component-links .call {
    transform: rotate(-45deg);
}

.component-links .account {
    display: none;
}

.component-links i {
    width: 25px;
    height: 25px;
    padding: 3px;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
}

.component-links i {
    margin: 5px;
}

.menu {
    top: 30%;
    right: 1%;
    border-right: 2px solid #FFFFFF;
    border-left: none;
}

.sidebar {
    position: absolute;
    /* left: 84%; */
    right: 0%;
}

.item3::-webkit-scrollbar {
    background-color: #464646;
    width: 10px;
    border-radius: 10px;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}

.item3::-webkit-scrollbar-track {
    width: 10px;
    height: 35px;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}


/* Handle */

.item3::-webkit-scrollbar-thumb {
    background: #FDDB3A;
    border-radius: 5px;
}


/* Handle on hover */

.item3::-webkit-scrollbar-thumb:hover {
    background: #FDDB3A;
}


/* Create four equal columns that sits next to each other */

.column {
    flex: 25%;
    max-width: 35%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

img:hover {
    opacity: 0.8;
    cursor: pointer;
}

.slider {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.slider--content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.slider--feature {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

.slider--title {
    font-size: 2.5rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
}

.slider--text {
    font-size: 1rem;
    color: #fff;
    text-transform: uppercase;
    margin: 0.5rem 0;
}

.slider__btn-right,
.slider__btn-left {
    background: transparent;
    border: none;
    outline: none;
    font-size: 4rem;
    color: #eee;
    padding: 0 1rem;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

.slider--btn {
    background: #fff;
    text-transform: uppercase;
    border: none;
    color: #444;
    border: 1px solid #444;
    outline: none;
    font-weight: 700;
    padding: 0.8rem 2rem;
    cursor: pointer;
}

.slider__btn-left:hover,
.slider__btn-right:hover {
    transform: scale(0.95);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fadeIn {
    animation: fadeIn 1s;
}


/* Style the Image Used to Trigger the Modal */

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {
    opacity: 0.7;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-y:   scroll;

}
  ::-webkit-scrollbar {
      width: 0px;
      background: transparent; /* make modal scrollbar transparent */
  }

/* Modal Content (image) */

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}


/* Caption of Modal Image */

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}


/* Add Animation */

.modal-content,
#caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}


/* The Close Button */

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
.sidebar a:hover{
    color: #FDDB3A;
  }
  .sidebar .current{
      color: #FDDB3A;
  }
/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    /* .item2{
display: block;
} */
    .column {
        flex: 100%;
        max-width: 100%;
    }
    /* .item3::-webkit-scrollbar,
    .item3::-webkit-scrollbar-track,
    .item3::-webkit-scrollbar-thumb,
    .item3::-webkit-scrollbar-thumb:hover {
        display: block !important;
    } */
    .item1 {
        display: none;
    }
    .description {
        font-size: 10px;
        line-height: 12px;
    }
    .item3 {
        /* flex-direction: column; */
        justify-content: flex-end;
        grid-column: 1 /span 2;
    }
    .date,
    .title p {
        font-size: 10px;
    }

    .frame {
        width: 100vw;
    }
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
    .description {
        font-size: 9px;
        line-height: 10px;
    }

    .item3::-webkit-scrollbar,
    .item3::-webkit-scrollbar-track,
    .item3::-webkit-scrollbar-thumb,
    .item3::-webkit-scrollbar-thumb:hover {
        display: none !important;
    }
    .item4{
        width: 100px;
    }
    .component-links a{
        padding: 0%;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    /* .item1 {
        display: block;
    }

    .item2 {
        display: none;
    } */
    .item3::-webkit-scrollbar,
    .item3::-webkit-scrollbar-track,
    .item3::-webkit-scrollbar-thumb,
    .item3::-webkit-scrollbar-thumb:hover {
        display: block;
    }
    .modal {
        display: none;
    }
}
@media only screen and (max-width: 1024px) {
    .topnav{
        display: block;
    }
    .sidebar {
        display: none !important;
    }

}
@media only screen and (max-width: 768px) {
    .topnav{
        display: block;
    }
    .sidebar {
        display: none !important;
    }

}

@media only screen and (max-width: 767px) {
    .item1 {
        display: none;
    }
    .item2 {
        z-index: 1;
        padding: 0%;
        overflow: hidden;
        display: block;
        grid-column: 1;
    }
    .item3 {
        grid-row: 1/ span 3;
        grid-column: 1;
        padding: 0%;
        margin: 0%;
    }
    .grid-container {
        padding: 0%;
    }
    .item3 .row {
        display: none !important;
    }
    .item3 .slider {
        display: block;
    }

    .item3::-webkit-scrollbar {
        display: none;
    }
    .modal {
        display: none;
    }
}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    .column {
        flex: 25%;
        max-width: 50%;
    }
    .item3::-webkit-scrollbar,
    .item3::-webkit-scrollbar-track,
    .item3::-webkit-scrollbar-thumb,
    .item3::-webkit-scrollbar-thumb:hover {
        display: block;
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    .item3::-webkit-scrollbar,
    .item3::-webkit-scrollbar-track,
    .item3::-webkit-scrollbar-thumb,
    .item3::-webkit-scrollbar-thumb:hover {
        display: block;
    }
}