:root{
    --thisorange:#FF9B04;
    --thisgray: #52575D;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    overflow: hidden;
}

/* a{
    cursor: pointer;
} */

body {

    background-color: var(--thisgray);
}

.topnav {
    display: none;
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 28px 32px;
    text-decoration: none;
    font-size: 17px;
}

.dropdown {
    width: 50%;
    float: left;
    overflow: hidden;
}

#music .dropdown-content a {
    text-align: right;
}

.dropdown .dropbtn {
    width: 100%;
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 28px 32px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

#action:hover ~ #music {
    background-color: #FDDB3A;
    border-radius: 0 0 0 25px;
}

#music:hover #action .dropbtn {
  background-color: var(--thisorange);
  border-radius: 0 0 25px 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    width: 50%;
    height: 100%;
    border-radius: 25px;
    background-color: #ff9b045b;
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.item4 {
    position: fixed;
    grid-column: 3;
    grid-row: 5;
    /* right: 0%; */
    bottom: 0%;
}

.component-links {
    padding: 20px 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: #FFFFFF;
}

.component-links a{
    max-width: fit-content;
}
#landing-right .item4{
 right: 0%;
}
.component-links .location,
.call {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #FFFFFF;
}

.component-links .call {
    transform: rotate(-45deg);
}

.component-links .account {
    display: none;
}

.component-links i {
    width: 25px;
    height: 25px;
    padding: 3px;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
}

.component-links i {
    margin: 5px;
}

.topnav a:hover,
.dropdown:hover .dropbtn {
    color: white;
}

#action .dropdown-content a:hover {
    color: #FF9B04;
}
#music .dropdown-content a:hover {
    color: #FDDB3A;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#landing-right {
    position: absolute;
    width: 50vw;
    height: 100vh;
    opacity: 0;
    left: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#landing-left {
    position: absolute;
    width: 50vw;
    height: 100vh;
    opacity: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.sidebar {
    height: 100%;
    width: 200px;
    position: absolute;
    z-index: 1;
    top: 0;
    /* left: 0; */
    overflow-x: hidden;
    padding-top: 20px;
    position: absolute;
}
/* #landing-right .sidebar {
left: 70%;
} */

.menu {
    width: 174px;
    position: absolute;
    z-index: 1;
    top: 220px;
    padding: 8px 0;
}

.menu li {
    list-style: none;
}

.sidebar a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    width: 174px;
    height: 48px;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 23px;
    padding: 10px;
    text-decoration: none;
}

.sidebar a:hover {
    color: #FF9B04;
}

#landing-left .sidebar {
    left: 10px;
}

#landing-left .menu {
    left: 10px;
}

#landing-right .sidebar {
    right: 0;
}

#landing-right .menu {
    right: 10%;
}



@media screen and (max-width: 600px) {
    .topnav {
        display: block;
    }
    .sidebar {
        display: none !important;
    }
    /* .sidebar-right {
        display: none !important;
    } */
    /* .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .topnav.responsive .dropdown {
        float: none;
    }
    .topnav.responsive .dropdown-content {
        position: relative;
    }
    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    } */
    /* #landing-right .menu {
position: absolute;
} */
}

@media all and (orientation: landscape) {
    body {
        background-size: cover;
    }
    .topnav{
        display: block;
    }
    .sidebar {
        display: none !important;
    }

}
/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    /* body {
background-image: url(../asset/svg/LNDA.svg);
background-position: center bottom;
} */

}
/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 768px) {
    .sidebar{
        display: block !important;
    }
    .topnav{
        display: none;
    }
}
/* Medium devices (landscape tablets, 768px and up) */

/* @media only screen and (min-width: 768px) {
    .topnav{
        display: block;
    }

} */
@media only screen and (max-width: 1024px) {
    .topnav{
        display: block;
    }
    .sidebar {
        display: none !important;
    }

}
@media only screen and (max-width: 768px) {
    .topnav{
        display: block;
    }
    .sidebar {
        display: none !important;
    }

}
/* Large devices (laptops/desktops, 992px and up) */


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {

    #landing-right {
        position: absolute;
        width: 50vw;
        height: 100vh;
        opacity: 0;
        left: 50%;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    #landing-left {
        position: absolute;
        width: 50vw;
        height: 100vh;
        opacity: 0;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

}