:root{
    --actingMenuColor:#FF9B04;
    --bodyBg: #464646;
    --musicMenuColor:#FDDB3A;
    --topnavLinkColor:#f2f2f2;
    --contentMenuBg:#ff9b045b;
    --descriptionBg:#595B83;
}
body {
    background: url(../asset/svg/performance.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

.description {
    background-color:var(--descriptionBg);
    color: var(--actingMenuColor);
    padding: 5px 30px;
    text-align: left;
}

.date,
.title p {
    position: absolute;
    top: 30%;
    left: 15%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 12px;
    color: var(--descriptionBg);
    text-align: center;
}

.pointer {
    width: 97.86px;
    height: 34.35px;
    position: relative;
    border-radius: 5px;
    padding: 5px;
    background:var(--actingMenuColor);
}

.pointer:nth-child(3):after {
    content: "";
    position: absolute;
    left: -14px;
    bottom: 0;
    width: 0;
    height: 0;
    transform: rotate(-180deg);
    border-left: 17px solid var(--actingMenuColor);
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
}

.pointer:nth-child(1)::before {
    content: "";
    position: absolute;
    right: -14px;
    bottom: 0px;
    width: 0;
    height: 0;
    border-left: 17px solid var(--actingMenuColor);
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
}

.main-information {
    padding: 30px 10px;
    align-self: center;
    overflow: scroll;
    overflow-x: hidden;
    height: 400px;
}

.main-information::-webkit-scrollbar {
    background-color: var(--bodyBg);
    width: 10px;
    border-radius: 10px;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}

.main-information::-webkit-scrollbar-track {
    width: 10px;
    height: 35px;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}


/* Handle */

.main-information::-webkit-scrollbar-thumb {
    background:var(--actingMenuColor);
    border-radius: 5px;
}


/* Handle on hover */

.main-information::-webkit-scrollbar-thumb:hover {
    background:var(--actingMenuColor);
}


/* .grid-container {
    display: grid;
    grid-template-columns: 20% 79%;
    grid-template-rows: auto ;
    grid-gap: 10px;
    padding: 10px;
    height: 100vh;

  } */

.main-information .info {
    display: flex;
    margin-top: 37px;
}
.grid-container{
    padding-left: 10px;
}
/* .grid-item {
    text-align: center; 
     padding: 20px;
} */

.side-nav {
    grid-column: 1;
    grid-row: 2 / span 2;
}

.top-nav {
    display: none;
    grid-column: 1/ span 2;
    grid-row: 1;
}

.main {
    grid-column: 2;
    grid-row: 2 / span 2;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 20px;
    margin: 30px;
    scrollbar-color: var(--actingMenuColor)  #464646;/*FireFox*/
    scrollbar-width: thin;/*FireFox*/
    scrollbar-face-color:var(--actingMenuColor) ;/* IE*/
    scrollbar-shadow-color: #464646; /* IE*/
}
.dropdown-content a:hover {
    color: var(--actingMenuColor);
}
.socialmedia-icons {
    position: fixed;
    grid-column: 3;
    grid-row: 5;
    /* right: 0%; */
    bottom: 0%;
}
#logo a{
    padding: 0%;
    /* border-radius: 0 0 25px 0 !important; */
}
.component-links {
    padding: 20px 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: #FFFFFF;
}

.component-links .location,
.call {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #FFFFFF;
}

.component-links .call {
    transform: rotate(-45deg);
}

.component-links .account {
    display: none;
}

.component-links i {
    width: 25px;
    height: 25px;
    padding: 3px;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
}

.component-links i {
    margin: 5px;
}

/* @media only screen and (min-width:768px) {
    .side-nav {
        display: block;
    }
    .top-nav {
        display: none;
    }
} */

@media only screen and (max-width:1024px) {
    .side-nav {
        display: none;
    }
    
    .top-nav {
        display: block;
        padding: 0%;
    }
    .top-nav .topnav{
        display: block;
    }

    .main {
        flex-direction: row;
        grid-row: 2;
        grid-column: 1 / span 2;
        justify-content: center;
        align-self: center;
        margin: 0px;
        padding-left: 10px;
    }
    /* .grid-container {
        grid-template-columns: auto;
    } */
}

@media only screen and (max-width:600px) {
    .side-nav {
        display: none;
    }
    .top-nav {
        display: block;
    }
    .description {
        font-size: 10px;
        line-height: 12px;
    }
    .main {
        /* flex-direction: column; */
        justify-content: center;
    }
    .date,
    .title p {
        font-size: 10px;
    }
}

@media only screen and (max-width:600px) {
    /* .top-nav{
      display: block;
    } */
    .description {
        font-size: 10px;
        line-height: 12px;
    }
    .main{
        margin-right:10px;
    }
    /* .grid-container{
      padding: 0%;
      grid-template-columns: auto;
    } */
    /* .grid-item {
        padding: 0%;
    } */
    /* .socialmedia-icons{
        width: 100px;
    } */
    .component-links a{
        padding: 0%;
    }
}