body {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}
.sidebar a:hover{
    color: #FDDB3A;
}
.sidebar .current{
    color: #FDDB3A;
}
.menu {
    top: 30%;
    right: 1%;
    border-right: 2px solid #FFFFFF;
    border-left: none;
}

.sidebar {
    position: absolute;
    /* left: 84%; */
    right: 0%;
}

.grid-container {
    padding: 0%;
    grid-gap: 0px;
}

.grid-item {
    padding: 0%;
}

.item2 {
    grid-column: 1 / span 3;
    grid-row: 1;
}

.item1 {
    grid-column: 1;
    grid-row: 2 / span 4;
}

.item3 {
    grid-column: 1 / span 2;
    grid-row: 2 / span 4;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 20px;
    /* grid-column: 2 / span 3;
    grid-row: 2 / span 4;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 20px; */
}

.item4 {
    position: fixed;
    grid-column: 3;
    grid-row: 5;
    right: 0%;
    bottom: 0%;
}

.component-links {
    padding: 20px 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: #FFFFFF;
}

.component-links .location,
.call {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #FFFFFF;
}

.component-links .call {
    transform: rotate(-45deg);
}

.component-links .account {
    display: none;
}

.component-links i {
    width: 25px;
    height: 25px;
    padding: 3px;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
}

.component-links i {
    margin: 5px;
}

.slider {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.slider--content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.slider--feature {
    text-align: justify;
}

.slider--title {
    font-size: 2.5rem;
    color: #FDDB3A;
    text-transform: uppercase;
    font-weight: 700;
}

.slider--text {
    font-size: 1rem;
    color: #FDDB3A;
    text-transform: uppercase;
    margin: 0.5rem 0;
}

.slider__btn-right,
.slider__btn-left {
    display: none;
    background: transparent;
    border: none;
    outline: none;
    font-size: 4rem;
    color: #eee;
    padding: 0 1rem;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

.slider--btn {
    background: #fff;
    text-transform: uppercase;
    border: none;
    color: #444;
    border: 1px solid #444;
    outline: none;
    font-weight: 700;
    padding: 0.8rem 2rem;
    cursor: pointer;
}
.component-links .account {
    display: none;
}
.slider__btn-left:hover,
.slider__btn-right:hover {
    transform: scale(0.95);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fadeIn {
    animation: fadeIn 1s;
}

.slider_navigation_dots {
    margin: 0;
    padding: 0;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 5%;
}

.slider_navigation_dots li {
    background-color: #44474A;
    border-radius: 21px;
    box-shadow: inset 1px 1px 1px #888;
    display: inline-block;
    height: 5px;
    width: 92px;
    margin: 0 5px;
    cursor: pointer;
}

.slider_navigation_dots li.active {
    background-color: #FDDB3A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media only screen and (max-width:767px) {
    .item1 {
        display: none;
    }

    .item2 {
        z-index: 1;
        display: block;
        grid-column: 1 / span 3;
        grid-row: 1;
    }
    .item3 {
        flex-direction: row;
        grid-row: 1/ span 3;
        grid-column: 1 / span 3;
        justify-content: center;
        align-self: center;
        padding: 0%;
    }
    .slider__btn-right,
    .slider__btn-left {
        display: block !important;
    }
    .slider--feature {
        margin-bottom: 20%;
        align-self: flex-end;
        text-align: justify;
    }
    .slider--title {
        text-align: center;
    }
    .slider_navigation_dots {
        display: none;
    }
}


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .item1 {
        display: none;
    }

    .item2 {
        display: block;
        grid-column: 1 / span 3;
        grid-row: 1;
    }
    .item3 {
        flex-direction: row;
        grid-row: 1 /span 2;
        grid-column: 1;
        justify-content: center;
        align-self: center;
        padding: 0%;
    }
    body {
        overflow-x: hidden
    }
    .slider__btn-right,
    .slider__btn-left {
        display: block !important;
    }
    .slider--feature {
        align-self: flex-end;
    }
    .slider--title {
        text-align: center;
    }
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    .item1 {
        display: block;
    }
    .item2 {
        display: none;
        grid-column: 1 / span 3;
        grid-row: 1;
    }
    .slider__btn-right .slider__btn-left {
        display: none;
    }
    .slider--feature {
        padding: 20px;
        margin: 50px;
        width: 30%;
        align-self: flex-end;
    }
    .slider--title {
        text-align: center;
    }
}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    .slider__btn-right .slider__btn-left {
        display: none;
    }
    .slider--feature {
        padding: 20px;
        margin: 50px;
        width: 30%;
        align-self: flex-end;
    }
    .slider--title {
        text-align: center;
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    .slider__btn-right .slider__btn-left {
        display: none;
    }
    .slider--feature {
        padding: 20px;
        margin: 50px;
        width: 30%;
        align-self: flex-end;
    }
    .slider--title {
        text-align: center;
    }
}