body {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #595B83;
    position: relative;
}

.item2 {
    grid-column: 1 / span 4;
    grid-row: 1;
    z-index: 1;
}

.item1 {
    grid-column: 1;
    grid-row: 2 / span 4;
}

.item3 {
    grid-column: 2 / span 3;
    grid-row: 2;
    flex-direction: row;
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    margin: 5px 30px;
    overflow: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.item4 {
    position: fixed;
    grid-column: 3;
    grid-row: 5;
    /* right: 0%; */
    bottom: 0%;
}

.component-links {
    padding: 20px 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: #FFFFFF;
}

.component-links .location,
.call {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #FFFFFF;
}

.component-links .call {
    transform: rotate(-45deg);
}

.component-links .account {
    display: none;
}

.component-links i {
    width: 25px;
    height: 25px;
    padding: 3px;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    margin: 5px;

}


.item3::-webkit-scrollbar {
    display: block !important;
    background-color: transparent;
    width: 10px;
    border-radius: 10px;
    /* margin-top: 10px;
    padding: 10px; */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.item3::-webkit-scrollbar-track {
    display: block !important;
    width: 10px;
    height: 35px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


/* Handle */

.item3::-webkit-scrollbar-thumb {
    display: block !important;
    background: #F39405;
    border-radius: 5px;
}


/* Handle on hover */

.item3::-webkit-scrollbar-thumb:hover {
    display: block !important;
    background: #F39405;
}

.item3 .all {
    display: flex;
    flex-wrap: wrap;
    margin-left: 80px;
    padding: 0 4px;
}

.all {
    justify-content: center;
}

.flex {
    flex-grow: 1;
}

.product-card {
    border-radius: 20px;
    margin: 20px 10px;
}
.product-card img {
    width:100%; 
    border-radius:20px
}
.product-card button {
    background-color: #F39405;
    border-radius: 20px;
    color: #FFFFFF;
    width: 100%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 37px;
    line-height: 43px;
    border: none;
    padding: 5px;
}

.product-card h1 {
    color: #F39405;
    text-align: left;
    font-weight: normal;
}

.product-card p {
    color: #FFFFFF;
    text-align: left;
    margin-bottom: 10px;
    font-weight: normal;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 22px;
    height: 45px;
    overflow: hidden;
    margin-bottom: 10px;
}

.product-card button {
    margin-bottom: 0%;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

.row::before {
    content: "";
    clear: both;
    display: block;
}

.row {
    display: flex;
}

[class*="col-"] {
    float: left;
}

.information .row {
    display: block;
}


/* For desktop: */

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 20%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
}


/* Modal Content */

.modal-content {
    position: absolute;
    top: 15%;
    left: 25%;
    margin: auto;
    padding: 20px;
    width: 60%;
    border-radius: 20px;
    background-color: #7b7d9c;
    border: 1px solid #C4C4C4;
    /* border: 1px solid #363636; */
}

.price p {
    display: inline;
}

.modal-content button {
    width: 100%;
    border-radius: 20px;
    padding: 5px;
    margin-top: 40px;
    font-size: 24px;
    background-color: #FF9B04;
    color: #FFFFFF;
    border: none;
}

#successBuy .modal-content {
    width: 60%;
    padding: 50px;
    ;
    border: 1px solid #C4C4C4;
}

#successBuy p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 46px;
    line-height: 54px;
    text-align: justify;
    color: #FFFFFF;
}


/* The Close Button */

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.information {
    margin: 20px;
    width: 100%;
}
.grid-container {
    padding-left: 10px;
    }
.information input[type=submit] {
    background-color: #F39405;
    color: #FFFFFF;
    border: none;
    border-radius: 20px;
    padding: 5px;
    width: 30%;
    float: right;
    margin: 10px;
}

input[type=submit]:focus {
    outline: none;
}

button {
    outline: none;
}

label {
    color: #C4C4C4;
    font-size: small;
}

input[type=text] {
    border: none;
    border-radius: 20px;
    padding: 5px;
    ;
    background-color: #C4C4C4;
    width: 100%;
}

textarea {
    border: none;
    border-radius: 20px;
    padding: 5px;
    ;
    background-color: #C4C4C4;
    width: 100%;
    height: 150px;
}

textarea:focus,
input:focus {
    outline: none;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .item1 {
        display: none;
    }
    .item2 {
        display: block;
        grid-column: 1 / span 1;
    }
    /* .item3 {
        margin: 10px;
    } */
    .information {
        display: inline;
    }
    [class*="col-"] {
        width: 90%;
    }
    .item3 .all {
        margin-left: 0%;
    }
    .product-card h1 {
        font-size: medium;
    }
    .product-card p {
        font-size: large;
    }
    .product-card button {
        font-size: large;
    }
    .modal {
        padding-top: 20%;
    }
    .modal-content {
        position: absolute;
        top: 10%;
        left: 0%;
        margin: auto;
        width: 100%;
    }
    .row {
        display: block;
    }
    .information input[type=submit] {
        width: 100%;
    }
    #successBuy .modal-content {
        width: 100%;
    }
    #successBuy .modal-content {
        height: 100%;
    }
    #successBuy p {
        font-size: 45px;
    }
    .grid-container {
        padding: 0%;
    }
    .grid-item {
        padding: 0%;
    }
    .item3{
        grid-column: 1 ;
        grid-row: 1;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    [class*="col-"] {
        width: 45%;
    }
    .item3 .all {
        margin-left: 0%;
    }
    /* .modal-content .product-card{
    width: 35%;
  } */
    #successBuy p {
        font-size: 25px;
    }
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (max-width: 767px) {

    .item3{
        grid-column: 1 ;
        grid-row: 1;
    }
}

@media only screen and (min-width: 768px) {
    .item1 {
        display: block;
    }
    /* .item2{
    display: none;
  } */
    [class*="col-"] {
        width: 35%;
    }
    .item3 .all {
        margin-left: 24%;
    }
    .row [class*="col-"] {
        width: 50%;
    }
    #successBuy p {
        font-size: 28px;
    }
}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    .item1 {
        display: block;
    }
    .item2 {
        display: none;
    }
    [class*="col-"] {
        width: 30%;
    }
    .item3 .all {
        margin-left: 17%;
    }
    .row [class*="col-"] {
        width: 50%;
    }
    #successBuy p {
        font-size: 28px;
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    .item1 {
        display: block;
    }
    .item2 {
        display: none;
    }
    [class*="col-"] {
        width: 20%;
    }
    .row [class*="col-"] {
        width: 40%;
    }
}